{% extends "outline.html" %}

{% block head %}
<head>
</head>
{% endblock head %}

{% block body %}
<body class="bg-light">
	<div class="container">
		<div class="py-5 text-center">
			<h1>Day in Review</h2>
			<p class="lead">Enter email password get emails yay</p>
		</div>

		<!-- form -->
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<form class="needs-validation" novalidate="" name="info" method="POST" action="/display">
					{{ form.hidden_tag() }}

					<div class="mb-3">
						{{ form.email.label(class="form-control-label") }}
						{{ form.email(class="form-control form-control-md", placeholder="you@example.com") }}
					</div>

					<div class="mb-3">
						{{ form.password.label(class="form-control-label") }}
						{{ form.password(class="form-control form-control-md", input="password", placeholder="password") }}
					</div>

					{{ form.submit(class="btn btn-outline-primary btn-lg btn-block") }}
				</form>
			</div>
		</div>
	</div>
</body>
{% endblock body %}