<!DOCTYPE html>
<html>

<head>
	<title>Day in Review</title>
	<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/home.css" />
	<script src="../js/home.js"></script>
</head>

<body>
	<section class="home-container">
		<div class="card bg-transparent" style="width: 30rem;">
			<!-- this should display the email address and not just the name but it's not for some reason -->
			<h3 id="from"></h3>
			<p id="subject"></p>
			<p id="date"></p>
			<p id="time"></p>
			<p id="summary"></p>
		</div>
	</section>
</body>

</html>