<!DOCTYPE html>
<html>

<head>
	<title>Day in Review</title>
	<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/loading.css" />
    <script src="../js/loading.js"></script>
</head>

<body>
    <div class="loading-container">
        <!-- motivational quotes -->
        <div>
            <h2 class="quote" id="quote"></h2>
        </div>
        <div>
            <h4 class="author" id="author"></h4>
        </div>
    
        <!-- boxes animation -->
        <div class="boxes">
            <div class="box">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="box">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="box">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="box">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div>
            <h5 class="loading">Loading...</h5>
        </div>
    </div>

    <!-- quotes generator -->
    <script>
        const Quote = require('inspirational-quotes');
        quote = Quote.getQuote();
        while(quote.text.length > 70 || quote.author.length > 30 || quote.author == 'Donald Trump') {
            quote = Quote.getQuote();
        }
        document.getElementById("quote").innerHTML = quote.text;
        document.getElementById("author").innerHTML = '- ' + quote.author;
    </script>
</body>

</html>