<!DOCTYPE html>
<html>

<head>
	<title>Day in Review</title>
	<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/login.css" />
	<script src="../js/login.js"></script>
</head>

<body>
	<section class="login-form">
		<form class="box">
			<h1>Day in Review</h1>
			<p>Enter your email address and password</p>
			<input class="text-black" type="text" id="email" name="" placeholder="Email"/>
			<input class="text-black" type="password" id="password" name="" placeholder="Password"/>
			<input type="submit" value="Login" onclick="login()"/>
			<p class="text-danger" id="invalid-login" style="font-weight: 420; visibility: hidden;">
				Your email and/or password were invalid. Please try again.
			</p>
		</form>
	</section>
</body>

</html>