<!DOCTYPE html>
<html>

<head>
	<title>Day in Review</title>
	<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/login.css" />
	<script src="../js/login.js"></script>
</head>

<body>
	<section class="login-form">
		<form class="box">
			<h1 style="color:black;">Day in Review</h1>
			<p>Please enter your email<br>address and password</p>
			<input class="text-black" type="text" id="email" name="" placeholder="Email"/>
			<input class="text-black" type="password" id="password" name="" placeholder="Password"/>
			<input type="submit" value="Login" onclick="login()"/>
		</form>
	</section>
</body>

</html>